<!DOCTYPE html>
<html>
<head>
  <title>Welcome To Osmosis Project</title>
  <link rel="icon" href="res/ThinkGeek-pt.png" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href={{ url_for('static', filename='css/home.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<div id="title">
  {% if not loggedIn %}
  <div id="signInButton">
    <a class="link" href="/">Sign In</a>
  </div>
  {% else %}
  <div class="dropdown">
    <button class="dropbtn">Hello, <br>{{firstName}}</button>
    <div class="dropdown-content">
      <a href="/logout">Sign Out</a>
    </div>
  </div>
  {% endif %}
  <div id="kart">
    <a class="link" href="/">
      <img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
      CART {{noOfItems}}
    </a>
  </div>
</div>

  <style type="text/css">
    body{
      margin: 0;            
    }
    #logo{
      padding-top: 0.7%;
      background-color: #333;
      width: 14%;
      height: 10.5%;
      float: left;
      position: fixed;
    }
  </style>
  
</head>

<body>
<div id="sidebar">
  <ul>
    <li>Welcome</li>
    <li><a href="#Trending"><table><tr><td></td>
    <td>&nbsp;Trending Products</td></tr></table></a></li>
    <li><a class="active" href="#redmi">
    <table><tr><td></td>
    <td>&nbsp;Redmi Products</td></tr></table></a></li>

    <li><a href="#samsung"><table><tr><td></td>
    <td>&nbsp;Samsung Products</td></tr></table></a></li>

    <li><a href="#vivo"><table><tr><td></td>
    <td>&nbsp;Vivo Products</td></tr></table></a></li>
  </ul>
</div>


<br><br>
<center>
<form action="/target" method="post">
    <label>Mobile Bussiness</label><br>
    <label>1.To see more Samsung product say ,show me some more Samsung mobile and same for Vivo and Redmi</label><br>
    <label>2.To see Create an order say,create a order for me </label><br>
    <label>3.To see of any mobile specification say,'mobile name' specification</label><br>
     <label>ex. redmi note 8 specification</label><br>
    <label>To register new account  say 'sign up'</label><br>
    <label>To login new account  say 'sign in' or 'login'</label><br>
    <label>Return to home page say 'homepage' </label><br>
    <label>Click here</label><button><img src="{{ url_for('static', filename='res/voice.png') }}"  width="25px" height="25px"></button>
    </form></center><br>

<!-- BACK TO TOP-->
<div class="content">
  <section class="container">
<div id="redmi">
      <h3>Trending Products</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi note 8.jpg') }}">
            <p>Redmi note 8</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/samsung galaxy s11.jpg') }}">
            <p>Samsung Galaxy S10</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/vivo v9.jpg') }}">
            <p>Vivo S5</p>
          </div>
        </div>
      </div>
  </div>
</section>
</div>
    
<center>
<p>                                           <img src="{{ url_for('static', filename='res/cover.png') }}" width="950px"></p></center>
<footer class="container">
  <div class="row"> 
    <p class="col-sm-6">
      &copy; 2020 MindTree | Made with<i style="color: #fd4b4b;">&nbsp; &#9829; &nbsp;</i>in India
    </p>

    
  </div>
</footer>


</body>
</html>