<!DOCTYPE html>
<html>
<head>
  <title>Welcome To Redmi Branch Of Our Bussiness</title>
  <link rel="icon" href="res/ThinkGeek-pt.png" sizes="16x16">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sidebar.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/content.css') }}">
  <!--BOOTSTRAP-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

  <style type="text/css">
    body{
      margin: 0;            
    }
    #logo{
      padding-top: 0.7%;
      background-color: #333;
      width: 14%;
      height: 10.5%;
      float: left;
      position: fixed;
    }
  </style>
  
</head>

<body>
<div id="logo">
  <a href="fandom.html">
    <img src="{{ url_for('static', filename='res/mindtree.jpg') }}" width="50%">
  </a>
</div>

<div id="sidebar">
  <ul>
    <li>Welcome</li>
    <li><a class="active" href="#trending">
    <table><tr><td></td>
    <td>&nbsp;Redmi Products</td></tr></table></a></li>
  </ul>
</div>


<div id="navbar">
  <ul>
    <li><a>Redmi</a></li>
  </ul>
</div>
<br>
<center>
<form action="/target" method="post">
  <label>1.To see more Samsung product say ,show me some more Samsung mobile and same for Vivo and Redmi</label><br>
    <label>2.To see Create an order say,create a order for me </label><br>
    <label>3.To see of any mobile specification say,'mobile name' specification</label><br>
     <label>ex. redmi note 8 specification</label><br>
    <label>Return to home page say 'homepage' </label><br>
    
     <label>Click here</label><button><img src="{{ url_for('static', filename='res/voice.png') }}"  width="15px"></button>
    </form></center>


<!-- BACK TO TOP-->
<a href="#" class="back-to-top">Back To Top </a>

<!--CONTENT-->

<div class="content">
  <section class="container">

    <!--TRENDING-->
    <div id="redmi">
      <h3>Redmi Mobiles</h3>
      <div class="row">
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi note 8.jpg') }}">
            <p>Redmi note 8</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi note 7.jpg') }}">
            <p>Redmi note 7</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi note 4.jpg') }}">
            <p>redmi note 4</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi 8a.jpg') }}">
            <p>Redmi 8 </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi note 6 pro.jpg') }}">
            <p>Redmi Note 6 pro </p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="box">
            <img src="{{ url_for('static', filename='res/redmi k 20.jpg') }}">
            <p>Redmi note 5 pro </p>
          </div>
        </div>
      </div>
    </div>


  </section>

</div>
 
<br>
<center>
<form action="/target" method="post">
    <label>Click Here</label><button><img src="{{ url_for('static', filename='res/voice.png') }}"  width="15px"></button>
    </form></center>


<!--FOOTER-->

<footer class="container">
  <div class="row"> 
    <p class="col-sm-6">
      &copy; 2020 MindTree | Made with<i style="color: #fd4b4b;">&nbsp; &#9829; &nbsp;</i>in India
    </p>

    
  </div>
</footer>


</body>
</html>